---
page_title: "Provider: Centreon"
description: |-
  The Centreon provider provides resources to interact with Centreon application using API V2.
---

# Centreon Provider

The Centreon provider provides resources to interact with Centreon application using API V2.

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}

